.todo {
    margin: 20px;
}
.todo-input-wrap {
    display: flex;
}
.todo-input {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.todo-list {
    padding: 0;
    margin: 20px;
    border: 1px solid pink
}

.todo-item {
    padding: 10px;
}

.todo-item+ .todo-item {
    border-top: 1px solid pink
}