.wrap {
    padding: 10px;
    text-align: center;
}

.input {
    margin: 20px;
}

.list {
    border: 1px solid pink;
}

.item {
    padding: 5px;

    & + & {
        border-top: 1px solid pink;
    }
}